# This is a basic workflow to help you get started with Actions

name: HTML5 Build CI

# Controls when the workflow will run
on: [push, pull_request]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: windows-latest
    
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
      - uses: krdlab/setup-haxe@v1
        with:
          haxe-version: 4.3.7
      # Runs a set of commands using the runners shell
      - name: script run line haha
        run: |
          haxelib --global install hmm
          haxelib --global run hmm setup
          haxelib run hmm install
          haxelib run lime rebuild extension-webm windows
          haxelib list
          haxelib run lime build html5
          
      - uses: actions/upload-artifact@v4
        with:
          name: HTML5 Build
          path: export/release/html5/bin
